.orderList {
	max-height: 800px;
	overflow: auto;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

.statusView {
	gap: 24px;
	max-height: 250px;
	overflow: hidden;
	column-count: 2;
}

.statusSection {
	display: grid;
	grid-template-columns: repeat(2, 225px);
	gap: 36px;
}

.main {
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 60px;
}
