.orderCard {
	border-radius: 20px;
	background-color: var(--background);
	margin-top: 16px;
	padding: 24px;
	width: 600px;
	color: var(--text-primary-color);
}

.orderId {
	display: flex;
	align-items: space-between;
	justify-content: space-between;
	position: relative;
}

.contentContainer {
	height: 64px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	margin-top: 24px;
}

.iconGradient {
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: linear-gradient(45deg, #801ab2, #4c4cff);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
}

.iconFrame {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 2px transparent;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	height: 55px;
	width: 55px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}

.ingExtra {
	height: 55px;
	width: 55px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6);
}

.amountFrame {
	width: 128px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: right;
	position: absolute;
	top: 0;
}
