.orderCard {
	width: 600px;
	margin-top: 16px;
	padding: 24px;
	color: var(--text-primary-color);
	background-color: var(--background);
	border-radius: 20px;
}

.orderId {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: space-between;
}

.contentContainer {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 64px;
	margin-top: 24px;
}

.iconGradient {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	background: linear-gradient(45deg, #801ab2, #4c4cff);
	border-radius: 100%;
}

.iconFrame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background: black;
	border: 2px transparent;
	border-radius: 100%;
}

.icon {
	width: 55px;
	height: 55px;
	background-position: center;
	background-size: cover;
	border-radius: 100%;
}

.ingExtra {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	background-color: rgb(0 0 0 / 60%);
	border-radius: 100%;
}

.amountFrame {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: right;
	align-items: center;
	width: 128px;
	height: 64px;
}
