.root {
	top: 0;
	height: 100vh;
}

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.fzf {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70%;
	text-align: center;
}
