.main {
	margin: 100px 0;
}

.profileGrid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 100px 0;
}

.leftMenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 60px;
	text-align: center;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 600px;
	text-align: center;
}
