.main {
	margin: 100px 0px;
}

.profileGrid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 100px 0px;
}

.leftMenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
