.modalBody {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.modalHeader {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-grow: 1;
	height: 60px;
}

.modalFrame {
	height: 50%;
	min-width: 30%;
	padding: 40px;
	border-radius: 20px;
	background-color: var(--background-alt);
}

.modalWrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.icon {
	width: '100px';
	heigth: '100px';
}
