.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	vertical-align: top;
}

.button {
	color: var(--text-primary-color);
}

.buttonInactive {
	color: var(--text-inactive-color);
}

.logo {
	flex-grow: 1;
	height: 56px;
	margin: 16px;
	vertical-align: middle;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.icon {
	margin-right: 8px;
	vertical-align: middle;
}

.page {
	top: 0;
	height: 100vh;
}
