.icon {
	margin-left: 4px;
	vertical-align: middle;
}

.itemCard {
	position: relative;
	max-width: 272px;
	margin: 16px 8px;
	color: var(--text-primary-color);
	text-align: center;
}

.counter {
	position: absolute;
	top: 0;
	right: 0;
}

.itemName {
	height: 48px;
}
