.section {
	display: inline-block;
	gap: 10px;
	margin: 0px 20px;
}

.icon {
	vertical-align: middle;
	margin-left: 4px;
}

.itemCard {
	width: 272px;
	text-align: center;
	margin: 16px 8px;
}

.ingredientGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0px 8px;
	padding: 0 8px;
}
