.panel {
	display: inline-block;
	gap: 10px;
	margin: 0 20px;
	scroll-behavior: smooth;
}

.tabBar {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.scroll {
	max-height: 700px;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

.ingredientGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 8px;
	padding: 0 8px;
}

.counter {
	position: absolute;
	top: 0;
	right: 0;
}
